*,*::before,*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.app {
  max-width: 800px;
  min-width: 400px;
  margin: auto;
  background-color: hsl(120, 30%, 90%);
  color: hsl(120, 30%, 10%);
}

.curr-container {
  width: 100%;
  border-bottom: 1px solid hsl(0, 0%, 80%);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.curr-weather {
  width: 30%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: .5em;
  border-right: 1px solid hsl(0, 0%, 50%);
}

.curr-img {
  width: 60%;
}

.curr-status {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 1em 3em;
}

.symbol {
  color: hsl(120, 10%, 20%);
}

.card-container {
  width: 100%;
  padding: 1em;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1em;
  justify-content: center;
}

.daily-card {
  background-color: hsl(120, 0%, 90%);
  border-radius: .5em;
  padding: .25em;
  box-shadow: 0 0 7px 1px hsl(0, 0%, 70%);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.card-img {
  width: 35%;
}

.card-day, .row-day {
  font-size: 1.03rem;
  margin-bottom: 0;
}

.hourly-table {
  width: 100%;
  text-align: center;
  border-spacing: 0;
}

.hourly-row {
  background-color: hsl(120, 30%, 80%);
  box-shadow: 0 0 7px 1px hsl(0, 0%, 50%);
  border-spacing: 0;
}

.hourly-row:nth-child(2n) {
  background-color: hsl(120, 30%, 70%);
}

.hourly-row > td {
  padding: .25em .5em;
}

.row-img {
  width: 15%;
  min-width: 30px;
}